name: mysecondworkfloe
on: workflow_dispatch
jobs:
  myjob:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v5
      - name: setup-jdk
        uses: actions/checkout@v1
        with:
          java-version: 11
      - name: run with maven
        run: |
             mvn clean test -Dtestng="testng.xml" -DbrowserType="chrome"
      - name: upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: test-reports
          path: target/surefire-reports/
        
